<section class="productCard">
  <div class="container">
    <div class="info">
      <h3 class="name">Fila Disruptor</h3>
      <h1 class="slogan">Performance with comfort</h1>
      <p class="price">$500.00</p>
      <div class="attribs">
        <div class="attrib size">
          <p class="header">Select Size</p>
          <div class="options">
            <div class="option">6</div>
            <div class="option">7</div>
            <div class="option">8</div>
            <div class="option">9</div>
            <div class="option">10</div>
            <div class="option">11</div>
          </div>
        </div>
        <div class="attrib color">
          <p class="header">Select Color</p>
          <div class="options">
            <div class="option" style="color: #60aec1"></div>
            <div class="option" style="color: #ef525e"></div>
            <div class="option" style="color: #000000"></div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="button">Add to cart</div>
        <div class="button colored">Buy now</div>
      </div>
    </div>
    <div class="colorLayer"></div>
    <div class="preview">
      <h1 class="brand">Fila</h1>
      <div class="zoomControl"></div>
      <div class="closePreview"></div>
      <div class="movControls">
        <div class="movControl left"></div>
        <div class="movControl right"></div>
      </div>
    </div>
  </div>
</section>
