<div class="mat-app-background" *ngIf="product$ | async as product">
  <button
    mat-raised-button
    class="ml-3 mb-2"
    color="primary"
    [routerLink]="['/product']"
  >
    <mat-icon>arrow_back</mat-icon>CONTINUE SHOPPING
  </button>
  <section class="productCard">
    <div class="container">
      <div class="info">
        <h3 class="name">{{ product?.brand }}</h3>
        <h1 class="slogan">{{ product.name }}</h1>
        <p class="price mb-2">{{ product.variants?.[0]?.price | currency }}</p>
        <p class="text-sm">{{ product.description }}</p>
        <p class="text-lg mt-2">{{ getMinStock(product.variants) }} IN STOCK</p>
        <div class="flex md:justify-center lg:justify-start mt-8">
          <div class="col s12 m6">
            <mat-form-field>
              <mat-label>Select Color</mat-label>
              <mat-select
                [(ngModel)]="selectedColor"
                name="colorToggle"
                (selectionChange)="onColorChange(product)"
              >
                <mat-option
                  *ngFor="let variant of product.variants"
                  [value]="variant.color"
                >
                  {{ variant.color }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <span class="m-1"></span>
          <div class="col s12 m6">
            <mat-form-field>
              <mat-label>Select Size</mat-label>
              <mat-select
                [(ngModel)]="selectedSize"
                name="sizeToggle"
                (selectionChange)="onSizeChange(product)"
              >
                <mat-option
                  *ngFor="let variant of product.variants"
                  [value]="variant.size"
                >
                  {{ variant.size }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button
              mat-icon-button
              color="primary"
              class="ml-1 sm:invisible md:visible reset"
              (click)="reset(product)"
              [matTooltip]="'Reset Selection'"
            >
              <mat-icon class="text-gray-500">restart_alt</mat-icon>
            </button>
          </div>
        </div>
        <div
          class="buttons"
          [ngClass]="{
            'disabled-item': selectedColor === '' || selectedSize === ''
          }"
        >
          <div class="button" (click)="handleAddToCart(product)">
            Add to cart
          </div>
          <div class="button colored" (click)="handleBuyNow(product)">
            Buy now
          </div>
        </div>
      </div>
      <div class="container"></div>
      <div class="preview">
        <h1 class="brand">NEWTONE</h1>
        <div style="text-align: center">
          <div class="carousel-container">
            <img
              *ngFor="let variant of product?.variants; let i = index"
              [src]="variant?.image"
              [class.active]="i === activeIndex"
            />
          </div>
        </div>
        <div class="movControls">
          <div class="movControl left" (click)="prevSlide()"></div>
          <div class="movControl right" (click)="nextSlide()"></div>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="product.productId">
    <mat-divider></mat-divider>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="REVIEWS">
        <newtone-review [productId]="product.productId"></newtone-review>
      </mat-tab>
      <mat-tab label="SPECIFICATIONS">
        {{ product.specifications | json }}</mat-tab
      >
    </mat-tab-group>
  </section>
</div>
