<mat-accordion class="headers-align">
  <mat-expansion-panel
    *ngFor="let item of data.content | keyvalue; index as i"
    (opened)="setStep(i)"
    hideToggle
  >
    <mat-expansion-panel-header
      *ngIf="(item.value | keyvalue).length as length"
    >
      <ng-container *ngFor="let pair of item.value | keyvalue">
        <ng-container *ngIf="pair.key === data.key">
          <mat-panel-title>
            <span>{{ pair.key | uppercase }} : </span>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{ pair.value }}</span>
          </mat-panel-description>
        </ng-container>
      </ng-container>
      <button mat-icon-button *ngFor="let action of data.actions">
        <mat-icon>{{ action?.icon }}</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <ng-container>
      <mat-list>
        <mat-list-item *ngFor="let pair of item.value | keyvalue">
          <div matListItemTitle>
            <b> {{ transformCamelCaseToWords(pair.key) | uppercase }}</b>
          </div>
          <div matListItemLine>{{ pair.value }}</div>
        </mat-list-item>
      </mat-list>
    </ng-container>

    <mat-action-row>
      <button
        *ngFor="let action of data.actions"
        mat-button
        color="primary"
        (click)="nextStep()"
      >
        <mat-icon>{{ action?.icon }}</mat-icon>
        {{ action?.text }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
