<mat-accordion class="headers-align">
    <mat-expansion-panel *ngFor="let item of data; index as i" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.description}}
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Edit</button>
      </mat-action-row>
    </mat-expansion-panel>  
  </mat-accordion>
  