<mat-nav-list *ngIf="(cart$ | async)?.items as products" class="mb-2">
  <h1 class="text-xl uppercase">Cart Items</h1>

  <mat-selection-list #items>
    <ng-container *ngFor="let item of products | groupBy : 'productId'">
      <ng-container *ngFor="let val of item.value">
        <mat-list-option
          [value]="item"
          *ngFor="let variant of val.product.variants | groupBy : 'variantId'"
        >
          <div matListItemTitle>
            {{ val.product.name }} - {{ variant.value[0].size }}
          </div>
        </mat-list-option>
      </ng-container>
    </ng-container>
  </mat-selection-list>

  <mat-divider></mat-divider>
  <div class="flow-root mt-3">
    <div class="float-left">
      <button
        mat-button
        [routerLink]="['/checkout']"
        (click)="bottomSheetRef.dismiss()"
        [disabled]="products.length === 0"
      >
        <span> Subtotal: {{ subTotal | currency }} </span>
      </button>
    </div>
    <div class="flex justify-end align-middle">
      <button
        mat-icon-button
        class="-mt-2 mr-1"
        (click)="deleteSelectedItems()"
        [disabled]="items.selectedOptions.selected.length === 0"
        color="warn"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-raised-button
        [routerLink]="['/product/checkout']"
        (click)="bottomSheetRef.dismiss()"
        [disabled]="products.length === 0"
        color="accent"
      >
        Checkout
      </button>
    </div>
  </div>
</mat-nav-list>
