<mat-stepper class="stepper" [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="createProductForm" label="PRODUCT INFORMATION">
    <form [formGroup]="createProductForm" class="my-2">
      <mat-form-field>
        <mat-label>PRODUCT NAME</mat-label>
        <input
          matInput
          placeholder="PRODUCT NAME"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>PRODUCT CATEGORY</mat-label>
        <input
          matInput
          placeholder="CATEGORY"
          formControlName="categoryId"
          [matAutocomplete]="auto"
          required
        />
      </mat-form-field>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelectionChanged($event)"
      >
        <mat-option
          *ngFor="let category of filteredCategories | async"
          [value]="category.title"
          [id]="category?.categoryId?.toString()!"
        >
          <span>{{ category.title }}</span> |
          <small>Category ID: {{ category.categoryId }}</small>
        </mat-option>
      </mat-autocomplete>
      <mat-form-field>
        <mat-label>PRODUCT DESCRIPTION</mat-label>
        <textarea
          matInput
          placeholder="PRODUCT DESCRIPTION"
          maxlength="200"
          formControlName="description"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>THRESHOLD</mat-label>
        <input
          matInput
          type="number"
          placeholder="PRODUCT STOCK STOP SELL THRESHOLD"
          formControlName="stockThreshold"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="productSpecificationsForm"
    label="PRODUCT SPECIFICATIONS"
  >
    <button mat-raised-button (click)="addSpecification()" color="primary">
      <mat-icon>add</mat-icon>
      ADD SPECIFICATION
    </button>
    <mat-accordion>
      <form [formGroup]="productSpecificationsForm" class="my-2">
        <ng-container formArrayName="specifications">
          <ng-container
            *ngFor="
              let specificationForm of getProductSpecificationsFormControls;
              let i = index;
              first as isFirst;
              last as isLast
            "
          >
            <mat-expansion-panel
              [expanded]="step === i"
              (opened)="setStep(i)"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Specification {{ i + 1 }} </mat-panel-title>
              </mat-expansion-panel-header>

              <div [formGroup]="specificationForm">
                <!-- Add your specification form controls here -->
                <mat-form-field>
                  <mat-label>SPECIFICATION NAME</mat-label>
                  <input
                    matInput
                    formControlName="key"
                    placeholder="SPECIFICATION NAME"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>SPECIFICATION VALUE</mat-label>
                  <input
                    matInput
                    formControlName="value"
                    placeholder="SPECIFICATION VALUE"
                    required
                  />
                </mat-form-field>

                <!-- Add more specification form controls as needed -->

                <div>
                  <button
                    mat-raised-button
                    (click)="deleteSpecification(i)"
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                    Delete
                  </button>
                </div>
              </div>
              <mat-action-row>
                <button
                  *ngIf="!isLast"
                  mat-raised-button
                  color="primary"
                  (click)="nextStep()"
                >
                  Next
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-accordion>
  </mat-step>
  <mat-step [stepControl]="productVariantsForm" label="PRODUCT VARIANTS">
    <button mat-raised-button (click)="addVariant()" color="primary">
      <mat-icon>add</mat-icon>
      ADD VARIANT
    </button>
    <mat-accordion>
      <form [formGroup]="productVariantsForm" class="my-2">
        <ng-container formArrayName="variants">
          <ng-container
            *ngFor="
              let variantForm of getProductVariantsFormControls;
              let i = index;
              first as isFirst;
              last as isLast
            "
          >
            <mat-expansion-panel
              [expanded]="step === i"
              (opened)="setStep(i)"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Variant {{ i + 1 }} </mat-panel-title>
              </mat-expansion-panel-header>

              <div [formGroup]="variantForm">
                <mat-form-field>
                  <mat-label>SIZE</mat-label>
                  <input
                    matInput
                    formControlName="size"
                    placeholder="LARGE"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>STOCK AMOUNT</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="STOCK"
                    formControlName="stock"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>COLOR</mat-label>
                  <input
                    matInput
                    formControlName="color"
                    placeholder="Red"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>PRICE</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="price"
                    placeholder="PRICE"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>WEIGHT</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="1KG"
                    formControlName="weight"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>HEIGHT</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="5CM"
                    formControlName="height"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>WIDTH</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="10CM"
                    formControlName="width"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>LENGTH</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="10CM"
                    formControlName="length"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>IMAGE</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="IMAGE URL"
                    formControlName="image"
                    required
                  />
                </mat-form-field>
                <div>
                  <button
                    mat-raised-button
                    (click)="deleteVariant(i)"
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon>
                    Delete
                  </button>
                </div>
              </div>
              <mat-action-row>
                <button
                  *ngIf="!isLast"
                  mat-raised-button
                  color="primary"
                  (click)="nextStep()"
                >
                  Next
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-accordion>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>DONE</ng-template>
    <button mat-raised-button color="primary" (click)="createProduct()">
      SAVE PRODUCT
    </button>
  </mat-step>
</mat-stepper>
