<mat-stepper class="stepper" [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="createProductForm" label="PRODUCT INFORMATION">
    <form [formGroup]="createProductForm">
      <mat-form-field>
        <mat-label>PRODUCT NAME</mat-label>
        <input
          matInput
          placeholder="PRODUCT NAME"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>PRODUCT PRICE</mat-label>
        <input
          matInput
          placeholder="PRODUCT PRICE"
          formControlName="price"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>PRODUCT DESCRIPTION</mat-label>
        <textarea
          matInput
          placeholder="PRODUCT DESCRIPTION"
          formControlName="description"
          required
        ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productImagesForm" label="PRODUCT IMAGES">
    <form [formGroup]="productImagesForm">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productAttributesForm" label="PRODUCT ATTRIBUTES">
    <form [formGroup]="productAttributesForm">
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          formControlName="thirdCtrl"
          placeholder="Ex. 12345678"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
