.sold-badge {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  display: inline-block;
}

.deals-badge {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(172, 69, 0, 0.575);
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  display: inline-block;
}

.disabled-item {
  pointer-events: none;
  opacity: 0.4;
}

.launch {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  padding: 5px 10px;
  display: inline-block;
}