<nav>
  <div class="shadow-sm mat-app-background">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 py-1 md:py-4">
      <div class="flex items-center justify-between md:justify-start">
        <button
          type="button"
          class="md:hidden w-10 h-10 rounded-lg -ml-2 flex justify-center items-center"
        >
          <svg
            class="text-gray-500 w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>

        <a class="font-bold text-gray-500 text-2xl" [routerLink]="['']">{{
          config.title
        }}</a>

        <div class="hidden md:flex space-x-3 flex-1 lg:ml-8">
          <a
            *ngFor="let item of navItems"
            class="px-2 py-2 hover:bg-gray-100 rounded-lg text-gray-400 hover:text-gray-600"
            >{{ item.name }}</a
          >
        </div>

        <div class="flex items-center">
          <div class="relative hidden md:block">
            <form>
              <input
                type="search"
                class="text-blue-950 pl-10 pr-2 h-10 py-1 rounded-lg border border-gray-200 focus:border-gray-300 focus:outline-none focus:shadow-inner leading-none"
                placeholder="Search"
                matInput
                [formControl]="searchControl"
                [matAutocomplete]="auto"
              />
              <svg
                class="h-6 w-6 text-gray-300 ml-2 mt-2 stroke-current absolute top-0 left-0"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                />
              </svg>
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="onSelectionChanged($event)"
              >
                <mat-option
                  *ngFor="let product of filteredProducts | async"
                  [value]="product.name"
                  [id]="product.pid?.toString()!"
                >
                  <span>{{ product.name }}</span> |
                  <small>Category: {{ product.category }}</small>
                </mat-option>
              </mat-autocomplete>
            </form>
          </div>

          <button
            mat-icon-button
            *ngFor="let iconButton of iconButtons"
            [matTooltip]="iconButton.tooltip"
            (click)="iconButton.action()"
          >
            <mat-icon
              [matBadge]="iconButton.badge === -1 ? cartSize : iconButton.badge"
              matBadgeSize="small"
              aria-hidden="false"
              >{{ iconButton.icon }}</mat-icon
            >
          </button>
        </div>
      </div>

      <div class="relative md:hidden">
        <input
          type="search"
          class="mt-1 w-full pl-10 pr-2 h-10 py-1 rounded-lg border border-gray-200 focus:border-gray-300 focus:outline-none focus:shadow-inner leading-none"
          placeholder="Search"
        />

        <svg
          class="h-6 w-6 text-gray-300 ml-2 mt-3 stroke-current absolute top-0 left-0"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>
    </div>
  </div>
</nav>

<main class="h-full">
  <router-outlet></router-outlet>
</main>
