<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ data.subtitle }}</h3>
  <p>
    {{ data.description }}
  </p>
  <ng-container *ngComponentOutlet="data.template!"></ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-container *ngFor="let instance of data?.actions">
    <button
      mat-button
      (click)="closeDialog(instance)"
      [color]="instance?.color"
      [ngClass]="instance?.style">
      <mat-icon *ngIf="instance?.icon">{{ instance?.icon }}</mat-icon>
      {{ instance?.text }}
    </button>
  </ng-container>
</mat-dialog-actions>
