<div class="mat-app-background min-h-screen">
  <!-- <newtone-table
  [tableData]="tableData"
  [tableColumns]="tableColumns"
  [isPageable]="true"
  [isSortable]="true"
  [isFilterable]="true"
  [rowActionButtons]="tableRowActions"
  [paginationSizes]="[2, 4, 6, 10, 30]"
  [defaultPageSize]="10"
  [stickyHeader]="true"
  [isSelectable]="true"
  [paginatorActionButton]="tablePaginatorAction"
  (sort)="sortData($event)"
  (paginatorAction)="onPaginatorAction($event)"
  (selectionChange)="onSelectionChange($event)"
>
</newtone-table> -->

  <header>
    <newtone-banner></newtone-banner>
  </header>

  <main>
    <div
      class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-2 text-center"
    >
      <div class="m-3">
        <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
          <img
            src="https://images.ctfassets.net/m8onsx4mm13s/4qm6G6cNU4mSAb566UuIJ1/5dfd9c110728306b565b59671a95cc83/In-Time-For-Holidays__2_.png"
            alt=""
          />
          <h5 class="mb-0 text-xl font-semibold tracking-tight text-white">
            24 / 7 SUPPORT
          </h5>
          <p
            class="mb-1 text-xs font-normal text-gray-500 dark:text-gray-400 p-2"
          >
            24 hours a day, 7 days a week, 365 days a year.
          </p>
        </div>
      </div>
      <div class="m-3">
        <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
          <img
            src="https://images.ctfassets.net/m8onsx4mm13s/6IvzKzqfqdVRKgZHjBqFIk/de259c13ae15133900b72c494b76c694/Lifetime-Warranty__2_.png"
            alt=""
          />
          <h5 class="mb-0 text-xl font-semibold tracking-tight text-white">
            GENUINE PRODUCTS
          </h5>
          <p
            class="mb-1 text-xs font-normal text-gray-500 dark:text-gray-400 p-2"
          >
            Hand made products from the best materials.
          </p>
        </div>
      </div>
      <div class="m-3">
        <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
          <img
            src="https://images.ctfassets.net/m8onsx4mm13s/24dB0X9zp0nHGgGooFJUGn/2d7bed365abe0a24ffa79eb21b4e1f3a/Financing-Available__2_.png"
            alt=""
          />
          <h5 class="mb-0 text-xl font-semibold tracking-tight text-white">
            MONEY BACK GUARANTEE
          </h5>
          <p
            class="mb-1 text-xs font-normal text-gray-500 dark:text-gray-400 p-2"
          >
            30 days money back guarantee.
          </p>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <section>
      <div class="container">
        <div class="row">
          <div class="col s12 text-center mt-3">
            <span class="text-2xl font-semibold">SHOP BY CATEGORY</span>
          </div>
          <div class="row">
            <div class="col s4" *ngFor="let category of categories$ | async">
              <span class="text-3xl">{{ category.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023
        <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>.
        All Rights Reserved.
      </span>
      <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
      >
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contact</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
