<!-- <newtone-table
  [tableData]="tableData"
  [tableColumns]="tableColumns"
  [isPageable]="true"
  [isSortable]="true"
  [isFilterable]="true"
  [rowActionButtons]="tableRowActions"
  [paginationSizes]="[2, 4, 6, 10, 30]"
  [defaultPageSize]="10"
  [stickyHeader]="true"
  [isSelectable]="true"
  [paginatorActionButton]="tablePaginatorAction"
  (sort)="sortData($event)"
  (paginatorAction)="onPaginatorAction($event)"
  (selectionChange)="onSelectionChange($event)"
>
</newtone-table> -->

<newtone-banner></newtone-banner>

<!-- <div class="row mt-2">
  <div class="col s4">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow">
      <svg
        class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"
        />
      </svg>
      <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight">
          Need a help in Claim?
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process on how to certify for your
        weekly benefits:
      </p>
    </div>
  </div>
</div> -->

<!-- insurance -->
<div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-2 text-center">
  <div  class="m-3">
    <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
      <img src="https://images.ctfassets.net/m8onsx4mm13s/4qm6G6cNU4mSAb566UuIJ1/5dfd9c110728306b565b59671a95cc83/In-Time-For-Holidays__2_.png" alt="">
      <h5 class="mb-0 text-xl font-semibold tracking-tight text-white bottom-4">
        Need a help in Claim?
      </h5>
      <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process
      </p>
    </div>
  </div>
  <div  class="m-3">
    <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
      <img src="https://images.ctfassets.net/m8onsx4mm13s/6IvzKzqfqdVRKgZHjBqFIk/de259c13ae15133900b72c494b76c694/Lifetime-Warranty__2_.png" alt="">
      <h5 class="mb-0 text-xl font-semibold tracking-tight text-white bottom-4">
        Need a help in Claim?
      </h5>
      <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process
      </p>
    </div>
  </div>
  <div  class="m-3">
    <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
      <img src="https://images.ctfassets.net/m8onsx4mm13s/24dB0X9zp0nHGgGooFJUGn/2d7bed365abe0a24ffa79eb21b4e1f3a/Financing-Available__2_.png" alt="">
      <h5 class="mb-0 text-xl font-semibold tracking-tight text-white bottom-4">
        Need a help in Claim?
      </h5>
      <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process
      </p>
    </div>
  </div>
</div>


<!-- categories -->
<div>
  <h5 class="font-bold text-center text-xl mt-4">SHOP BY CATEGORY</h5>
</div>
<div class="grid sm:grid-cols-3 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class="h-20 w-14 mx-auto"  src="https://images.ctfassets.net/m8onsx4mm13s/5NmrLKBgP8wg0v33sooTjT/69f4ed6dec07962b955352c6c9f3a794/sbc-les-paul.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class="h-20 w-14  mx-auto"   src="https://images.ctfassets.net/m8onsx4mm13s/2lIphYhCK96GIn2Vk2a4UC/bfc2d3b943bd12b1c7cd8bbc82abc0d9/sbc-sg.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/1QQLpcf5GVlxD43IhVX2kz/3514b14e6e1be4513d62d75649d7fd8d/sbc-es.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/1lBFZ3MiIxmFsq4TvYCMPP/e3dc59e646091d93cd96944ebaeedd11/sbc-acoustic.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight  bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/4Zs1gRUACPH58IWb2GAFf6/4a656f85c76075381bf81eb401c1b2ab/sbc-designer.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/73kdrXhCErTi1arI9bwEm6/a32be067cca210bc3417c6ea1c9c4383/sbc-basses.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- guitar series -->
<div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/2A2DeNDGqgD8c626MJHmlt/259a2ac02a9fe1b6837414d61342dd69/Custom_Colors-33Module.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/1BFzqOtPjjbwzvUGVOsOad/1dd4a9623dc2b5a7556145061d2cf965/CoreRefresh2022_ES_33Module__1_.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img  class="" src="https://images.ctfassets.net/m8onsx4mm13s/3JorZR6LKgT6aCcGvplriK/31283c919340c9cf4a84b237243acd1e/MOD_Collection_33MOD_Set_03.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- guitar stocks -->
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/Ig7GSzKXl3hR4sFQZTHxD/fe653433907d2230dd2759117c67cb21/BackInStockAcoustics_50Module.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/2dszvAPl58gzzztDMOg2ta/45da5fa1441ca82007dabe8d01c36f30/ML-SG-50Mod-4.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/38qnmFw40R9OCWte4rDSix/cd48d85c83641089bcaec6b3d64a5bd6/Pickup_Launch2_Homepage_50Module.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/7mho96lN3us9i0oSSa0JsY/d0c0d08bf38cb84f539c489d4b7dc963/Deep-Purple_Homepage_50mod_alt.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- accessories -->
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/6OMpaaKRTBud76Vo0TSLan/bc89ce4d7de3f6e5959517dc1acd8755/DeluxeProtectorCases_Homepage-50Module.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/4vv7Wi2tCmQ0YhGf8P2mvv/f14c478ab63aa45353f7e203aee06868/Strings-Mini_50Module.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- services -->
<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/5iImrQ4XO1rLh1CYkooTR2/767b199ecc6cc91036c2c32b4c94192b/GibsonGives_100Module_V3.2.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- events -->
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/1Drp9EnwfMLfwkE4Supo4c/b07b3990b200918abc3f75c4ea20d315/Pilgrimage_50Module.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/2uRpCPQej6d6ZXKYsr7ck7/0a5b0b91778104ffd0623f5e07eae839/PowerTrip_50Module_V2.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- family brands -->
<div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/1taJNWPD6h8dy9pEEq9c8e/ff78732df020dcde7c8f88bb4a83a0f9/Artboard_Copy.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/7ceh4kt0V4wun8KFT4JDEO/9ffcff07f47ada81eacfcaf9d60f2c87/Homepage_33Module_Maestro-Mesa.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/3W6kiUaUWzJWvb9Rb5qSwV/9edd095688dbef626043091c39583b83/demo3_2x.jpeg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- latest releases -->
<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class="mx-auto"  src="https://i.ytimg.com/vi/wepYti4JiCA/maxresdefault.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- repairs-restoration -->
<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/1QHyg5cuL2K1GriSEqppcn/733d76f6793ddb9985f7d4563accb979/R_R.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""   src="https://images.ctfassets.net/m8onsx4mm13s/3G1S0RD9Ou8lZUkH1kzhai/55256158ecae0bfbc5be61eb48d50b2d/GibsonApp_Banner_Portrait.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- generations -->
<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class="mx-auto"  src="https://images.ctfassets.net/m8onsx4mm13s/467tsOjo0jzr8NjvzRUXK2/84eb38da252da2ef8c3204dad7d159e2/HP-G3_V2.jpg" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- careers -->
<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <img class=""  src="https://images.ctfassets.net/m8onsx4mm13s/6DpbC63T9bUZX0rJ8RvqvZ/803cf1f3a0d62a51b6e51f265f99bf60/careers.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

<!-- subscribe us -->
<div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-gradient-to-r from-white to-teal-100 border border-gray-200 rounded-lg shadow">
      <!-- <img class="h-20 w-14 mx-auto"  src="https://images.ctfassets.net/m8onsx4mm13s/5NmrLKBgP8wg0v33sooTjT/69f4ed6dec07962b955352c6c9f3a794/sbc-les-paul.png" alt=""> -->
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>
