<!-- <newtone-table
  [tableData]="tableData"
  [tableColumns]="tableColumns"
  [isPageable]="true"
  [isSortable]="true"
  [isFilterable]="true"
  [rowActionButtons]="tableRowActions"
  [paginationSizes]="[2, 4, 6, 10, 30]"
  [defaultPageSize]="10"
  [stickyHeader]="true"
  [isSelectable]="true"
  [paginatorActionButton]="tablePaginatorAction"
  (sort)="sortData($event)"
  (paginatorAction)="onPaginatorAction($event)"
  (selectionChange)="onSelectionChange($event)"
>
</newtone-table> -->

<newtone-banner></newtone-banner>

<!-- <div class="row mt-2">
  <div class="col s4">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow">
      <svg
        class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"
        />
      </svg>
      <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight">
          Need a help in Claim?
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process on how to certify for your
        weekly benefits:
      </p>
    </div>
  </div>
</div> -->

<!-- insurance -->
<div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-2 text-center">
  <div  class="m-3">
    <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
      <img src="https://images.ctfassets.net/m8onsx4mm13s/4qm6G6cNU4mSAb566UuIJ1/5dfd9c110728306b565b59671a95cc83/In-Time-For-Holidays__2_.png" alt="">
      <h5 class="mb-0 text-2xl font-semibold tracking-tight text-white bottom-4">
        Need a help in Claim?
      </h5>
      <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process
      </p>
    </div>
  </div>
  <div  class="m-3">
    <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
      <img src="https://images.ctfassets.net/m8onsx4mm13s/6IvzKzqfqdVRKgZHjBqFIk/de259c13ae15133900b72c494b76c694/Lifetime-Warranty__2_.png" alt="">
      <h5 class="mb-0 text-2xl font-semibold tracking-tight text-white bottom-4">
        Need a help in Claim?
      </h5>
      <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process
      </p>
    </div>
  </div>
  <div  class="m-3">
    <div class="p-1 bg-black border border-gray-200 rounded-lg shadow">
      <img src="https://images.ctfassets.net/m8onsx4mm13s/24dB0X9zp0nHGgGooFJUGn/2d7bed365abe0a24ffa79eb21b4e1f3a/Financing-Available__2_.png" alt="">
      <h5 class="mb-0 text-2xl font-semibold tracking-tight text-white bottom-4">
        Need a help in Claim?
      </h5>
      <p class="mb-1 text-sm font-normal text-gray-500 dark:text-gray-400">
        Go to this step by step guideline process
      </p>
    </div>
  </div>
</div>


<!-- categories -->
<div class="grid sm:grid-cols-3 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 mt-2 text-center">
  <div  class="m-2">
    <div class="p-1 bg-green-50 border border-gray-200 rounded-lg shadow">
      <img class="h-20 w-14 mx-auto"  src="https://images.ctfassets.net/m8onsx4mm13s/5NmrLKBgP8wg0v33sooTjT/69f4ed6dec07962b955352c6c9f3a794/sbc-les-paul.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-green-50 border border-gray-200 rounded-lg shadow">
      <img class="h-20 w-14  mx-auto"   src="https://images.ctfassets.net/m8onsx4mm13s/2lIphYhCK96GIn2Vk2a4UC/bfc2d3b943bd12b1c7cd8bbc82abc0d9/sbc-sg.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-green-50 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/1QQLpcf5GVlxD43IhVX2kz/3514b14e6e1be4513d62d75649d7fd8d/sbc-es.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-green-50 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/1lBFZ3MiIxmFsq4TvYCMPP/e3dc59e646091d93cd96944ebaeedd11/sbc-acoustic.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight  bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-green-50 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/4Zs1gRUACPH58IWb2GAFf6/4a656f85c76075381bf81eb401c1b2ab/sbc-designer.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
  <div  class="m-2">
    <div class="p-1 bg-green-50 border border-gray-200 rounded-lg shadow">
      <img  class="h-20 w-14 mx-auto" src="https://images.ctfassets.net/m8onsx4mm13s/73kdrXhCErTi1arI9bwEm6/a32be067cca210bc3417c6ea1c9c4383/sbc-basses.png" alt="">
      <h5 class="mb-0 text-xl tracking-tight bottom-4">
        Need
      </h5>
    </div>
  </div>
</div>

