// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import './styles/components/variables';
@import './styles/components/grid';
@import './styles/themes/dark-theme';
@import './styles/themes/light-theme';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$newtone-light-primary: mat.define-palette($cyan-palette, 900);
$newtone-dark-primary: mat.define-palette(mat.$blue-palette, A100);

$newtone-light-accent: mat.define-palette(mat.$orange-palette, A100);
$newtone-dark-accent: mat.define-palette(mat.$blue-palette, A100);

// The warn palette is optional (defaults to red).
$newtone-light-warn: mat.define-palette(mat.$red-palette, 600);
$newtone-dark-warn: mat.define-palette(mat.$red-palette, A100);

$newtone-dark-text-palette: mat.define-palette(mat.$gray-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$newtone-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $newtone-light-primary,
      accent: $newtone-light-accent,
      warn: $newtone-light-warn,
    ),
  )
);

$newtone-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $newtone-dark-primary,
      accent: $newtone-dark-accent,
      warn: $newtone-dark-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($newtone-light-theme);

.dark-theme {
  @include mat.all-component-colors($newtone-dark-theme);
  color: mat.get-color-from-palette(
    $newtone-dark-text-palette,
    'darker-contrast'
  );

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: mat.get-color-from-palette($newtone-dark-accent);
  }

  .mat-form-field-appearance-fill.mat-focused .mat-form-field-label {
    color: mat.get-color-from-palette($newtone-dark-accent);
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: mat.get-color-from-palette($newtone-dark-accent);
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: mat.get-color-from-palette($newtone-dark-accent);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(136, 136, 136, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(78, 78, 78);
}

mat-form-field {
  width: 100%;
}

// .mat-dialog-override {
//   mat-dialog-container {
//     > :first-child {
//       display: flex;
//       flex-direction: column;
//       height: 100%;
//     }
//     mat-dialog-content,
//     div[mat-dialog-content] {
//       flex-grow: 1;
//       max-height: unset;
//     }
//   }
// }

mat-card {
  border-radius: 1em !important;
}

.spacer {
  flex: 1 1 auto;
}
